.navbar-fixed-top{
    background-color: white;
}
.navbar-fixed-top > div > div{
    padding:5px 15px;
    box-sizing: border-box;
}
body > .container > div {
    border: 1px solid lightgray;
    background-color:#efefef;
    margin: 5px 0;
    padding:5px;
    box-sizing:border-box;
    border-radius:4px;
}
#status > span{
    animation: blinker 2s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}
#status > span.paused{
    animation: none;
}
#status > span.offline{
    animation: none;
    color: #F65058;
}
#online::before{
    content: '';
    display: inline-block;
    width: 10px;
    margin-right: 3px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 50%;
    background-color: #468847;
    animation: blinker 1s ease infinite;
}
#online{
    position: fixed;
    left: 0px;
    display:none;
}
#loader{
    margin:0 auto;
    height:10px;
    width:300px;
    border: 1px solid lightgray;
    border-radius:4px;
}
#loading{
    height:100%;
    width:100%;
    background-color:#428bca;
    border-radius:4px;
    transition:1s all;
}
.sortable:hover{
    cursor:pointer;
}
.sortorder:after {
    font-family: FontAwesome;
    content: "\f0de";
}
.sortorder.reverse:after {
    font-family: FontAwesome;
    content: "\f0dd";  
}